html,
body {
	margin: 0%;
	box-sizing: border-box;
	overflow: hidden;
}
/*Global - classes*/
a {
	text-decoration: none;
}
/*global classes*/
/*Navigation*/
nav {
	background: white;
	padding: 0 2rem;
	height: 0rem; /*for the collapsible nav*/
	min-height: 20vh;
}

.nav .nav-brand a {
	font-size: 1.6rem;
	padding: 1rem;
}
/*Navigation*/
