html,
body {
	margin: 0%;
	box-sizing: border-box;
	overflow: hidden;
}
/*Global - classes*/
a {
	text-decoration: none;
}
.flex-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap; /*wrap during small screens*/
}
ul {
	list-style-type: none;
}
/*global classes*/
/*Navigation*/
nav {
	background: white;
	padding: 0 2rem;
	height: 0rem; /*for the collapsible nav*/
	min-height: 20vh;
}
.nav .nav-items {
	list-style-type: none;
	display: flex;
	margin: 0;
}
.nav .nav-items .nav-link {
	padding: 1.6rem 1rem;
	font-size: 1.1rem;
	position: relative;
}
.nav .nav-menu {
	justify-content: space-between;
}

.nav .nav-brand a {
	font-size: 1.6rem;
	padding: 1rem 0;
	display: block;
}
.nav .social {
	padding: 1.4rem 0;
}
/*Navigation*/
